@cyware:registry = "https://packages.cyware.com/repository/cynpm/"
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9218C2DF-219A-434B-BAEE-34B7B3587538