.ca-w-60 {
  width: 60%;
}
.ca-w-40 {
  width: 40%;
}
.cyw-mw-100 {
  max-width: 100% !important;
}
.ca-decoration-none {
  text-decoration: none;
}
.ca-border-0 {
  border: 0 !important;
}
.is-error {
  .cyw-wrapper {
    border: 0.1rem solid var(--R300) !important;
  }
}

//All the forms require this class for proper alignment across all flows in the analyst
#mfa-alert-create-form,
#mfa-alert-details,
#mfa-alert-list-app {
  .el-form .el-form-item {
    margin-bottom: 0;
    font-size: 1.4rem !important;
    &__content {
      display: unset;
    }
  }
  .el-scrollbar__bar.is-horizontal {
    display: none;
  }
  .highcharts-root {
    font-family: Inter, sans-serif !important;
  }
  .fr-box.fr-basic .fr-element {
    font-size: 1.4rem;
  }
}

.ca-word-break {
  word-wrap: break-word;
}

.ca-border-N200 {
  border-color: var(--N200) !important;
}
.ca-word-break-all {
  word-break: break-all;
}

.ca-loading-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--N800);
  opacity: 0.6;
  z-index: 10001;
}

.csp-input-editor-wrapper {
  .el-form-item {
    &__content {
      position: unset !important;
    }
    &__error {
      position: unset !important;
    }
  }
}
