//TODO: Need to optimize the classes for CDS
.ca-date-picker,
.el-picker-panel,
.el-date-editor,
.el-picker-panel__body,
.ca-date-picker__popper {
  border: 0;
  border-radius: 0.4rem;
  font-family: Roboto, 'Open Sans', sans-serif !important;
  background-color: var(--N10) !important;
  --el-date-editor-width: 100% !important;
  --el-input-height: 4rem !important;
  --el-datepicker-text-color: var(--N900) !important;
  --el-text-color-regular: var(--N900) !important;
  --el-datepicker-off-text-color: var(--N700) !important;
  --el-datepicker-off-text-color: var(--N500) !important;
  --el-datepicker-header-text-color: var(--N900) !important;
  --el-datepicker-icon-color: var(--P600) !important;
  --el-datepicker-border-color: var(--N300) !important;
  --el-border-color-light: var(--N300) !important;
  --el-border-color: var(--N300) !important;
  --el-border-color-lighter: var(--N200) !important;
  --el-border-color-extra-light: var(--N100) !important;
  --el-border-color-dark: var(--N500) !important;
  --el-border-color-darker: var(--N600) !important;
  --el-datepicker-inner-border-color: var(--N300) !important;
  --el-datepicker-inrange-bg-color: var(--N300) !important;
  --el-datepicker-inrange-hover-bg-color: var(--N200) !important;
  --el-datepicker-active-color: var(--P600) !important;
  --el-datepicker-hover-text-color: var(--P500) !important;
  --el-color-primary: var(--P500) !important;
  --el-text-color-primary: var(--P600) !important;
  --el-input-text-color: var(--N900) !important;
  --el-input-placeholder-color: var(--N600) !important;
  --el-input-bg-color: var(--N10) !important;
  --el-fill-color-blank: var(--N10) !important;
  --el-bg-color-overlay: var(--N10) !important;
  --el-fill-color-light: var(--N100) !important;
  --el-component-size-large: 2.8rem !important;
  --el-text-color-placeholder: var(--N700) !important;
  --el-date-editor-daterange-width: 27rem !important;
  .el-range__icon {
    margin-right: 0.6rem;
  }
  .el-date-picker,
  .el-popper,
  .cy-date-picker.focused {
    .el-input .el-input__prefix .el-input__icon {
      color: var(--primary);
    }
  }
  .el-input__prefix {
		left: 1rem;
	}
  .el-input__inner {
    padding-left: 2rem;
  }
  .el-picker-panel.el-date-picker.has-time {
    background-color: var(--N10) !important;
  }
  .el-picker-panel {
    margin: 0 !important;
    border: none !important;
    &__body {
      background-color: var(--N10) !important;
    }
    &__sidebar {
      width: 12rem;
      top: 0.1rem;
      height: 99%;
    }
  }
  .el-picker__popper {
    border-radius: 0.4rem !important;
    .el-picker-panel {
      margin: 0;
      border: none;
      &__sidebar {
        background-color: var(--N10) !important;
        border-right: 0.1rem solid var(--N300);
        .el-picker-panel__shortcut {
          color: var(--N700);
          padding-left: 0.8rem;
        }
      }
      &__content {
        .el-date-range-picker__header {
          div {
            color: var(--N600);
          }
          .el-picker-panel__icon-btn {
            color: var(--P600);
            margin-top: 0 !important;
          }
        }
        .el-date-table {
          th {
            color: var(--N600) !important;
            border-bottom: 0.1rem solid var(--N200);
          }
          &__row {
            .prev-month {
              .el-date-table-cell {
                &__text {
                  color: var(--N400);
                }
              }
            }
            .available {
              .el-date-table-cell {
                &__text {
                  color: var(--N700);
                }
              }
              &.start-date,
              &.end-date {
                .el-date-table-cell__text {
                  color: var(--N10) !important;
                  background-color: var(--P500);
                }
              }
              &.in-range {
                .el-date-table-cell {
                  background: var(--P100);
                  &__text {
                    color: var(--N700);
                  }
                }
              }
              &:hover {
                .el-date-table-cell {
                  background: var(--P200);
                  &__text {
                    color: var(--P600);
                  }
                }
              }
            }
            .disabled {
              .el-date-table-cell {
                background: var(--N50);
                &__text {
                  color: var(--N400);
                }
              }
            }
          }
        }
        &.is-left {
          border-right: 0.1rem solid var(--N300);
        }
      }
    }
  }
  .el-time-panel__btn {
    &.cancel {
      color: var(--N600);
    }
  }
}
